$primary: #58536C;
$hover: #E30016;

$text-color: #898989;
$heading-color: #000000;
$text-gray: #727272;
$text-light-gray: #e7e7e7;
$border-color: #e5e5e5;
$border-transparent: rgba(255,255,255,0.2);

$font-family-1: 'PT Sans', sans-serif;
$font-family-2: 'Montserrat', sans-serif;

$font-size-heading: 18px;

$timing: 0.4s;